/* main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} */



body {
    background-color: #F3F5FC;
    font-family: 'Inter';
}

.logo {
    position: relative;
    margin: 3%;
    width: 31.09px;
    display: inline;
}

.div-principal {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;


}


.input-texto {
    width: 50%;
    height: 48px;
    font-family: 'inter';
    border: none;
    background-color: #F3F5FC;
    margin-left: 10%;
    font-size: 18pt;
    letter-spacing: 1px;
    color: #0A3871;
    

}



#mensaje::placeholder {
    color: #0A3871;
    font-family: 'Inter';
    font-size: 22px;
}



.botones {
    display: inline-block;
    margin-top: 40vh;
    margin-left: 10%;
}

.botones:hover{
    transform: scale(1.05);
}


.boton-encriptar {

    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    margin: .5em;



}

.boton-desencriptar {

    width: 328px;
    height: 67px;
    margin: 0.5em;
    background-color: #D8DFE8;
    border-color: #0A3871;
    border: 1px solid;
    border-radius: 24px;
    color: #0A3871;

    display: inline-block;
    font-size: 16px;
    font-weight: 300;

}

.warning-block {
    margin: 0 0 0 3%;
}

.warning {
    display: inline-block;
    font-weight: 100;
    font-size: 12px;
    margin: 0 0 0 .2em;


}

.img-warning {
    float: left;
    width: 16px;
    margin: 0;

}

.mensaje-box{
    width: 350px;
    display: inline-block;
    background-color: #FFFFFF;
    height: 65vh;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin-left: 5%;
    margin-top: 1em;
    vertical-align: top;
}

.mensaje-nuevo {
    position: relative;
    background-image: url("images/muñeco.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position: 10px;
    background-size: 250px;
    margin-top: 15%;
    font-family:'inter';
    font-size: 18pt;
    letter-spacing: 1px;
    color: #0A3871;;
    


}

#mensaje-nuevo {
    margin-left: 2em;
    border: none;
    font-family: 'Inter';
    color: #0A3871;
    
}

#mensaje-nuevo::placeholder {
    color: #343A40;
    font-family: 'Inter';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    
    
}

.copiar {

    width: 328px;
    height: 67px;
    margin-left: 0.5em;
    background-color: #FFFFFF;
    border-color: #0A3871;
    border: 1px solid;
    border-radius: 24px;
    color: #0A3871;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5vh;

}